<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xun.mapper.ICartMapper">
    <resultMap id="cartMap" type="Cart">
        <id property="cId" column="c_id" />
        <result property="userId"  column="user_id"></result>
        <result property="goodsId"  column="goods_id"></result>
        <result property="isDelete"  column="is_delete"></result>
    </resultMap>
    <select id="findCartByUid" resultMap="cartMap">
         select * from cart where user_id = #{uId};
    </select>
</mapper>